{% extends "base_sidebar.html" %}
{% block content %}
    <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>{{ profileName }}</h1>
                    </div>
                </div>
                <table class="table table-bordered table-hover">
                   <caption><font size="6" color="steelblue">Income</font></caption>
                   <thead>
                      <tr>
                         <th>Stock</th>
                         <th>Stock Exchange</th>
                         <th>Number of shares sold</th>
                         <th>Profit(+)/Loss(-)</th>
                      </tr>
                   </thead>
                   <tbody>
                      {% for smryTrans in summaryTrans %}
                      <tr class="active">
                         <td>{{ smryTrans.stock_symbol }}</td>
                         <td>{{ smryTrans.stock_exchange }}</td>
                         <td>{{ smryTrans.quantity_sell }}</td>
                         <td>{{ smryTrans.profit }}</td>
                      </tr>
                      {% endfor %}
                   </tbody>
                </table>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
{% endblock %}